{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <p>Total Posts: {{ post_list.count }}</p> <!-- Debugging output -->
        {% for post in post_list %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.subtitle }}</h6>
                    <p class="card-text">{{ post.body|truncatewords:30 }}</p>
                    <p class="card-text"><small class="text-muted">Posted on {{ post.created_on|date:"F j, Y" }}</small></p>
                    <a href="{% url 'detail' post.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No posts available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
